.loader {
	display: inline-block;
	position: relative;
	width: 70px;
	height: 70px;
}

.loader div {
	position: absolute;
	border: 2px solid #37474f;
	opacity: 1;
	border-radius: 50%;
	animation: lds-ripple 2s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.loader div:nth-child(2) {
	animation-delay: -0.5s;
}

@keyframes lds-ripple {
	0% {
		top: 45%;
		left: 45%;
		width: 0;
		height: 0;
		opacity: 1;
	}
	100% {
		top: 0px;
		left: 0px;
		width: 90%;
		height: 90%;
		opacity: 0;
	}
}
